* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #imageContainer img {
    width: 5%;
    height: 5%;
}
  